.ActivitySmallCard {

    margin: 80px 350px;
    
    .cycling {
        padding: 10px;
        background-color: #88d6e2;
        border-radius: 25px;

        .logo {
            background-color: #88d6e2;
        }
    }

    .not-cycling {
        padding: 10px;
        background-color: #ff662c;
        border-radius: 25px;

        .logo {
            background-color: #ff662c;
        }
    }

    .activity-table {
        width: 100%;
    }

    .activity-type-name {
        text-align: left;
        padding-left: 40px;
        font-size: 30px;
        margin-bottom: 5px;
    }

    .activity-name {
        text-align: left;
        padding-left: 40px;
    }

    .activity-time {
        text-align: left;
        padding-left: 40px;
    }

    .activity-distance {
        text-align: left;
        padding-left: 40px;
        margin-bottom: 5px;
    }
}

img {
    opacity: 1;
}