.ActivityDetailCard {
    text-align: center;
    background-color: rgb(73, 75, 75);
    margin: 80px 350px;
    border-radius: 25px;
    color: white;

    .activity-table {
        width: 100%;
        padding: 50px 50px;

        
    }

    .date-label {
        margin-bottom: 50px;
        text-align: left;
    }

    .distance-label {
        text-align: left;
    }

    .time-label {
        text-align: right;
    }

    
}